/* TODO: Add some coordinated colors to make the blog more distinguished:
         Use an accent color for all links, and remove their underline. */

body {
  line-height: 1.5;
  font-size: 100%;
  background-color: #664455;
  color: WHITE;
}

hr {
  margin: 1em;
  width: 80%;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

address {
  display: inline-block;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #AF3127;
}

a:hover, a:focus {
  color: white;
}

a:visited {
}

#author-filter {
  color: black;
}

#category-filter {
  color: black;
}
